@import "tailwindcss";

@font-face {
  font-family: "Satoshi";
  src:
    url("/fonts/Satoshi-Variable.woff2") format("woff2"),
    url("/fonts/Satoshi-Variable.woff") format("woff"),
    url("/fonts/Satoshi-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src:
    url("/fonts/Satoshi-VariableItalic.woff2") format("woff2"),
    url("/fonts/Satoshi-VariableItalic.woff") format("woff"),
    url("/fonts/Satoshi-VariableItalic.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Satoshi", sans-serif;
  --breakpoint-3xl: 1805px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Satoshi", sans-serif;
}

@keyframes bounce-slow {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-bounce-slow {
  animation: bounce-slow 2s ease-in-out infinite;
}
